/* Menu Styling */
.menu {
	background: #191919 no-repeat;
	left: -155px;
	height: 287px;
	position: fixed;
	width: 155px;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	font-family: 'Droid Sans', sans-serif;
	color: #FFFFFF;
	font-size: large;
	border-bottom: 1px solid #7F7F7F;
	line-height: 65px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.menu li a {
	font-family: 'Droid Sans', sans-serif;
	color: #FFFFFF;
	font-size: large;
	text-decoration: none;
}

.menu li:last-child{
	border-bottom: none;
}

.menuIconOpen, .menuIconClose {
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menuIconOpen .pending {
	color: #008000;
}

.menuIconOpen i {
	color: #191919;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
}

.menuIconClose {
	display: none;
}

.menuIconClose i {
	color: #191919;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
}

/* Background Styling (Jumbotron) */
.jumbotron {
	display: none;
}